{% extends 'yblog/base.html' %}
{% load static %}
{% block content %}
    <div style="background: rgba(0, 0, 0, 0.952);width:100%;height:300px;">
        <div class="clubs">
        <div class="cname">
            동아리
        </div>
        </div>
    </div> 
    <div class="container"> 
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">게시자</th>
                <th scope="col">카테고리</th>
                <th scope="col">제목</th>
                <th scope="col">조회수</th>
                <th scope="col">댓글 수</th>
            </tr>
            </thead>
            <tbody>
                {% for club in clubs %}
                <tr>
                    <td>{{club.author}}</td>
                    <td>{{club.category}}</td>
                    <td><a href="{% url 'post_detail' pk=club.pk %}">{{club.title}}</a></td>
                    <td>{{club.likes}}</td>
                    <td>{{club.comments.count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination justify-content-center">
        <span class="step-links">
            <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if clubs.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; first</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="?page={{ clubs.previous_page_number }}">previous</a>
                    </li>
                {% endif %}
                    
                <!--<span class="current">
                    Page {{ clubs.number }} of {{ clubs.paginator.num_pages }}.
                </span>-->
                {% for page in clubs.paginator.page_range %}
                    {% if clubs.number == page %}
                    <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}<span class="sr-only">(current)</span></a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if clubs.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ clubs.next_page_number }}">next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ clubs.paginator.num_pages }}">last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
            </nav>
        </span>
    </div>
</div>  
{% endblock %}